@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seneca College Academic Honesty</h1>
    <p class="lead">This is the first action item for Group 19's Academic Honesty Page.</p>
    <p><a href="http://www.senecacollege.ca/academic-policy/acpol-09.html" class="btn btn-primary btn-lg">Academic Policy &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Action Item 1</h2>
        <p>
            This page is to demonstrate a successful user login page. <br>
            username: faculty@senecacollege.ca <br>
            password: Seneca$1 <br>
        </p>
    </div>
    
</div>