@model BTS.Controllers.IncidentAddForm
@{  Layout = null; }
<tr>
    <td>
        <input type='text' id='Students_@(Model.id)__StudentName' name='Students[@Model.id].StudentName'/>
    </td>
    <td>
        <input type='text' id='Students_@(Model.id)__StudentID' name='Students[@Model.id]'
    </td>
</tr>