<!--
Author: Shawn Matthews
-->

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seneca College Academic Honesty Procedure</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this system</h2>
        <p>A web platform to automate the academic honesty procedures at Seneca College.</p>
    </div>
    <div class="col-md-4">
        <h2>Edit Incidents</h2>
        <p>In the Navigation Bar, click View Incidents.</p>
        <p>Select an incident to edit, then make the necessary changes.</p>
    </div>
</div>